.home-profile {
  background-color: #e4e0e0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-profile .overlap-wrapper {
  background-color: #e4e0e0;
  width: 2230px;
  height: 1640px;
}

.home-profile .overlap {
  position: relative;
  height: 1597px;
}

.home-profile .overlap-group {
  position: absolute;
  width: 2230px;
  height: 1597px;
  top: 0;
  left: 0;
}

.home-profile .rectangle {
  width: 2230px;
  height: 65px;
  top: 0;
  background-color: #171b5a;
  position: absolute;
  left: 0;
}

.home-profile .div {
  width: 364px;
  height: 1539px;
  top: 58px;
  background-color: #3b3d68;
  position: absolute;
  left: 0;
}

.home-profile .ellipse {
  position: absolute;
  width: 170px;
  height: 161px;
  top: 166px;
  left: 97px;
}

.home-profile .text-wrapper {
  position: absolute;
  width: 188px;
  top: 343px;
  left: 88px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .text-wrapper-2 {
  position: absolute;
  width: 219px;
  top: 379px;
  left: 72px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .LOG-IN-BTN {
  position: absolute;
  width: 216px;
  height: 51px;
  top: 778px;
  left: 75px;
  all: unset;
  box-sizing: border-box;
}

.home-profile .div-wrapper {
  position: relative;
  width: 214px;
  height: 51px;
  background-color: #171b5a;
  border-radius: 50px;
}

.home-profile .text-wrapper-3 {
  position: absolute;
  width: 131px;
  top: 14px;
  left: 41px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .p {
  position: absolute;
  width: 954px;
  top: 17px;
  left: 98px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .element {
  position: absolute;
  width: 44px;
  height: 46px;
  top: 6px;
  left: 35px;
  object-fit: cover;
}

.home-profile .text-wrapper-4 {
  position: absolute;
  width: 279px;
  top: 559px;
  left: 42px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #020736;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .text-wrapper-5 {
  position: absolute;
  width: 125px;
  top: 17px;
  left: 2079px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .text-wrapper-6 {
  position: absolute;
  width: 125px;
  top: 17px;
  left: 1954px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #52fcf2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.home-profile .overlap-2 {
  position: absolute;
  width: 1866px;
  height: 1206px;
  top: 391px;
  left: 364px;
  background-color: #ffffffcc;
  border: 1px solid;
  border-color: #000000;
}

.home-profile .group {
  position: absolute;
  width: 1210px;
  height: 444px;
  top: 57px;
  left: 310px;
}

.home-profile .overlap-3 {
  position: relative;
  width: 1202px;
  height: 444px;
  background-color: #f0eded;
}

.home-profile .text-wrapper-7 {
  position: absolute;
  width: 666px;
  top: 31px;
  left: 60px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0e0940;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .overlap-4 {
  position: absolute;
  width: 303px;
  height: 259px;
  top: 111px;
  left: 73px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.home-profile .department-non {
  position: absolute;
  width: 174px;
  top: 105px;
  left: 63px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .span {
  font-weight: 500;
}

.home-profile .text-wrapper-8 {
  font-size: 16px;
}

.home-profile .department {
  position: absolute;
  width: 56px;
  height: 106px;
  top: 16px;
  left: 122px;
}

.home-profile .overlap-5 {
  position: absolute;
  width: 303px;
  height: 259px;
  top: 111px;
  left: 452px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.home-profile .birthday-december {
  position: absolute;
  width: 260px;
  top: 105px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .birthday {
  position: absolute;
  width: 60px;
  height: 71px;
  top: 36px;
  left: 119px;
}

.home-profile .overlap-group-2 {
  position: absolute;
  width: 303px;
  height: 259px;
  top: 111px;
  left: 826px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.home-profile .title-registrar-II {
  position: absolute;
  width: 260px;
  top: 110px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .user-location {
  position: absolute;
  width: 54px;
  height: 75px;
  top: 30px;
  left: 123px;
}

.home-profile .overlap-group-wrapper {
  position: absolute;
  width: 1236px;
  height: 431px;
  top: 651px;
  left: 286px;
}

.home-profile .overlap-6 {
  position: relative;
  width: 1226px;
  height: 431px;
  background-color: #f0eded;
}

.home-profile .phone-number {
  position: absolute;
  width: 290px;
  top: 191px;
  left: 344px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .text-wrapper-9 {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
}

.home-profile .full-name-first-name {
  position: absolute;
  width: 351px;
  top: 129px;
  left: 344px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .address-naguilian-la {
  position: absolute;
  width: 282px;
  top: 255px;
  left: 344px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .email-registrar {
  position: absolute;
  width: 344px;
  top: 315px;
  left: 344px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .text-wrapper-10 {
  position: absolute;
  width: 346px;
  top: 42px;
  left: 47px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #040e3f;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .email {
  position: absolute;
  width: 31px;
  height: 44px;
  top: 315px;
  left: 292px;
}

.home-profile .smartphone {
  position: absolute;
  width: 29px;
  height: 39px;
  top: 191px;
  left: 293px;
}

.home-profile .address {
  position: absolute;
  width: 31px;
  height: 59px;
  top: 245px;
  left: 292px;
}

.home-profile .name {
  position: absolute;
  width: 34px;
  height: 65px;
  top: 114px;
  left: 291px;
}

.home-profile .overlap-7 {
  position: absolute;
  width: 713px;
  height: 58px;
  top: 333px;
  left: 364px;
}

.home-profile .student-btn {
  position: absolute;
  width: 239px;
  height: 58px;
  top: 0;
  left: 0;
}

.home-profile .overlap-8 {
  position: relative;
  width: 237px;
  height: 58px;
  background-color: #171b5a;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid;
  border-color: #000000;
}

.home-profile .text-wrapper-11 {
  position: absolute;
  width: 192px;
  top: 16px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-profile .student-btn-2 {
  left: 237px;
  position: absolute;
  width: 239px;
  height: 58px;
  top: 0;
}

.home-profile .overlap-9 {
  position: relative;
  width: 237px;
  height: 58px;
  background-color: #f0f0f2;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid;
  border-color: #000000;
}

.home-profile .text-wrapper-12 {
  position: absolute;
  width: 192px;
  top: 16px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #020202;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-profile .student-btn-3 {
  left: 474px;
  position: absolute;
  width: 239px;
  height: 58px;
  top: 0;
}

.home-profile .img {
  position: absolute;
  width: 1866px;
  height: 262px;
  top: 65px;
  left: 364px;
  object-fit: cover;
}
