.registrar-home-forms {
  background-color: #e4e0e0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.registrar-home-forms .overlap-wrapper {
  background-color: #e4e0e0;
  width: 2230px;
  height: 1640px;
}

.registrar-home-forms .overlap {
  position: relative;
  height: 1597px;
}

.registrar-home-forms .overlap-group {
  position: absolute;
  width: 2230px;
  height: 1597px;
  top: 0;
  left: 0;
}

.registrar-home-forms .rectangle {
  position: absolute;
  width: 2230px;
  height: 65px;
  top: 0;
  left: 0;
  background-color: #171b5a;
}

.registrar-home-forms .div {
  position: absolute;
  width: 364px;
  height: 1539px;
  top: 58px;
  left: 0;
  background-color: #3b3d68;
}

.registrar-home-forms .ellipse {
  position: absolute;
  width: 170px;
  height: 161px;
  top: 166px;
  left: 97px;
}

.registrar-home-forms .text-wrapper {
  position: absolute;
  width: 188px;
  top: 343px;
  left: 88px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.registrar-home-forms .text-wrapper-2 {
  position: absolute;
  width: 219px;
  top: 379px;
  left: 72px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.registrar-home-forms .LOG-IN-BTN {
  position: absolute;
  width: 216px;
  height: 51px;
  top: 778px;
  left: 75px;
  all: unset;
  box-sizing: border-box;
}

.registrar-home-forms .div-wrapper {
  position: relative;
  width: 214px;
  height: 51px;
  background-color: #171b5a;
  border-radius: 50px;
}

.registrar-home-forms .text-wrapper-3 {
  position: absolute;
  width: 131px;
  top: 14px;
  left: 41px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.registrar-home-forms .p {
  position: absolute;
  width: 954px;
  top: 17px;
  left: 98px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.registrar-home-forms .text-wrapper-4 {
  position: absolute;
  width: 125px;
  top: 15px;
  left: 2027px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.registrar-home-forms .text-wrapper-5 {
  position: absolute;
  width: 125px;
  top: 15px;
  left: 1904px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #52fcf2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.registrar-home-forms .element {
  position: absolute;
  width: 44px;
  height: 46px;
  top: 6px;
  left: 35px;
  object-fit: cover;
}

.registrar-home-forms .text-wrapper-6 {
  position: absolute;
  width: 279px;
  top: 559px;
  left: 42px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #020736;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.registrar-home-forms .overlap-2 {
  position: absolute;
  width: 1866px;
  height: 1206px;
  top: 391px;
  left: 364px;
  background-color: #ffffffcc;
  border: 1px solid;
  border-color: #000000;
}

.registrar-home-forms .rectangle-2 {
  position: absolute;
  width: 1866px;
  height: 1183px;
  top: 22px;
  left: -1px;
  background-color: #decbcbcc;
  border: 1px solid;
  border-color: #413131;
}

.registrar-home-forms .rectangle-3 {
  position: absolute;
  width: 1866px;
  height: 945px;
  top: 260px;
  left: -1px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.registrar-home-forms .group {
  position: absolute;
  width: 633px;
  height: 99px;
  top: 95px;
  left: 62px;
}

.registrar-home-forms .text-wrapper-7 {
  width: 255px;
  top: 0;
  left: 0;
  color: #0e0940;
  font-size: 20px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.registrar-home-forms .text-wrapper-8 {
  position: absolute;
  width: 160px;
  top: 59px;
  left: 95px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0e0940;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.registrar-home-forms .overlap-3 {
  position: absolute;
  width: 349px;
  height: 39px;
  top: 0;
  left: 276px;
}

.registrar-home-forms .dropdown {
  position: absolute;
  width: 349px;
  height: 39px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
}

.registrar-home-forms .down-wrapper {
  position: relative;
  width: 53px;
  height: 32px;
  top: 3px;
  left: 292px;
  background-color: #817a7a;
  border: 1px solid;
  border-color: #000000;
}

.registrar-home-forms .down {
  position: absolute;
  width: 49px;
  height: 29px;
  top: 1px;
  left: 1px;
}

.registrar-home-forms .text-wrapper-9 {
  width: 162px;
  top: 6px;
  left: 25px;
  color: #000000;
  font-size: 11px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.registrar-home-forms .overlap-4 {
  position: absolute;
  width: 349px;
  height: 39px;
  top: 60px;
  left: 276px;
}

.registrar-home-forms .text-wrapper-10 {
  position: absolute;
  width: 162px;
  top: 5px;
  left: 25px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.registrar-home-forms .jhv {
  position: absolute;
  width: 1538px;
  height: 412px;
  top: 530px;
  left: 129px;
  object-fit: cover;
}

.registrar-home-forms .img {
  position: absolute;
  width: 1866px;
  height: 262px;
  top: 65px;
  left: 364px;
  object-fit: cover;
}

.registrar-home-forms .overlap-5 {
  position: absolute;
  width: 713px;
  height: 64px;
  top: 327px;
  left: 364px;
}

.registrar-home-forms .student-btn {
  position: absolute;
  width: 239px;
  height: 58px;
  top: 0;
  left: 0;
}

.registrar-home-forms .overlap-6 {
  position: relative;
  width: 237px;
  height: 58px;
  background-color: #f0f0f2;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid;
  border-color: #000000;
}

.registrar-home-forms .text-wrapper-11 {
  position: absolute;
  width: 192px;
  top: 16px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.registrar-home-forms .overlap-group-wrapper {
  top: 3px;
  left: 474px;
  position: absolute;
  width: 239px;
  height: 58px;
}

.registrar-home-forms .overlap-7 {
  position: relative;
  width: 237px;
  height: 58px;
  background-color: #171b5a;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid;
  border-color: #000000;
}

.registrar-home-forms .text-wrapper-12 {
  position: absolute;
  width: 192px;
  top: 16px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.registrar-home-forms .student-btn-2 {
  top: 6px;
  left: 237px;
  position: absolute;
  width: 239px;
  height: 58px;
}

.registrar-home-forms .text-wrapper-13 {
  position: absolute;
  width: 192px;
  top: 16px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #020202;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
