.student-home-profile {
  background-color: #e4e0e0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.student-home-profile .overlap-wrapper {
  background-color: #e4e0e0;
  width: 2230px;
  height: 1640px;
}

.student-home-profile .overlap {
  position: relative;
  height: 1597px;
}

.student-home-profile .overlap-group {
  position: absolute;
  width: 2230px;
  height: 1597px;
  top: 0;
  left: 0;
}

.student-home-profile .rectangle {
  width: 2230px;
  height: 65px;
  top: 0;
  background-color: #171b5a;
  position: absolute;
  left: 0;
}

.student-home-profile .div {
  width: 364px;
  height: 1539px;
  top: 58px;
  background-color: #3b3d68;
  position: absolute;
  left: 0;
}

.student-home-profile .ellipse {
  position: absolute;
  width: 170px;
  height: 161px;
  top: 166px;
  left: 97px;
}

.student-home-profile .text-wrapper {
  position: absolute;
  width: 188px;
  top: 343px;
  left: 88px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .text-wrapper-2 {
  position: absolute;
  width: 219px;
  top: 379px;
  left: 72px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .LOG-IN-BTN {
  position: absolute;
  width: 216px;
  height: 51px;
  top: 778px;
  left: 75px;
  all: unset;
  box-sizing: border-box;
}

.student-home-profile .div-wrapper {
  position: relative;
  width: 214px;
  height: 51px;
  background-color: #171b5a;
  border-radius: 50px;
}

.student-home-profile .text-wrapper-3 {
  position: absolute;
  width: 131px;
  top: 14px;
  left: 41px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .p {
  position: absolute;
  width: 954px;
  top: 17px;
  left: 98px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .text-wrapper-4 {
  position: absolute;
  width: 125px;
  top: 15px;
  left: 2027px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .element {
  position: absolute;
  width: 44px;
  height: 46px;
  top: 6px;
  left: 35px;
  object-fit: cover;
}

.student-home-profile .text-wrapper-5 {
  position: absolute;
  width: 279px;
  top: 559px;
  left: 42px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #020736;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .text-wrapper-6 {
  position: absolute;
  width: 125px;
  top: 17px;
  left: 1928px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #52fcf2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.student-home-profile .overlap-2 {
  position: absolute;
  width: 1866px;
  height: 1206px;
  top: 391px;
  left: 364px;
  background-color: #ffffffcc;
  border: 1px solid;
  border-color: #000000;
}

.student-home-profile .group {
  position: absolute;
  width: 1253px;
  height: 408px;
  top: 577px;
  left: 269px;
}

.student-home-profile .overlap-3 {
  position: relative;
  width: 1243px;
  height: 408px;
  background-color: #f0eded;
}

.student-home-profile .phone-number {
  position: absolute;
  width: 294px;
  top: 181px;
  left: 349px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .span {
  font-weight: 500;
}

.student-home-profile .text-wrapper-7 {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
}

.student-home-profile .full-name-first-name {
  position: absolute;
  width: 356px;
  top: 122px;
  left: 349px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .address-naguilian-la {
  position: absolute;
  width: 286px;
  top: 241px;
  left: 349px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .email-student-email {
  position: absolute;
  width: 349px;
  top: 298px;
  left: 349px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .text-wrapper-8 {
  position: absolute;
  width: 351px;
  top: 40px;
  left: 48px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #040e3f;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .email {
  position: absolute;
  width: 31px;
  height: 41px;
  top: 298px;
  left: 296px;
}

.student-home-profile .smartphone {
  position: absolute;
  width: 30px;
  height: 37px;
  top: 181px;
  left: 297px;
}

.student-home-profile .address {
  position: absolute;
  width: 31px;
  height: 56px;
  top: 232px;
  left: 296px;
}

.student-home-profile .name {
  position: absolute;
  width: 35px;
  height: 62px;
  top: 108px;
  left: 295px;
}

.student-home-profile .overlap-group-wrapper {
  position: absolute;
  width: 1262px;
  height: 312px;
  top: 84px;
  left: 258px;
}

.student-home-profile .overlap-4 {
  position: relative;
  width: 1254px;
  height: 312px;
  background-color: #f0eded;
}

.student-home-profile .text-wrapper-9 {
  position: absolute;
  width: 695px;
  top: 22px;
  left: 62px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #0e0940;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .overlap-group-2 {
  position: absolute;
  width: 316px;
  height: 182px;
  top: 78px;
  left: 76px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.student-home-profile .department-STE {
  position: absolute;
  width: 181px;
  top: 74px;
  left: 66px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .text-wrapper-10 {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
}

.student-home-profile .department {
  position: absolute;
  width: 59px;
  height: 75px;
  top: 11px;
  left: 127px;
}

.student-home-profile .overlap-5 {
  position: absolute;
  width: 316px;
  height: 182px;
  top: 78px;
  left: 471px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.student-home-profile .birthday-december {
  position: absolute;
  width: 271px;
  top: 74px;
  left: 21px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .text-wrapper-11 {
  font-size: 16px;
}

.student-home-profile .birthday {
  position: absolute;
  width: 63px;
  height: 50px;
  top: 25px;
  left: 124px;
}

.student-home-profile .overlap-6 {
  position: absolute;
  width: 316px;
  height: 182px;
  top: 78px;
  left: 861px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.student-home-profile .title-registrar-II {
  position: absolute;
  width: 271px;
  top: 77px;
  left: 21px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.student-home-profile .user-location {
  position: absolute;
  width: 56px;
  height: 53px;
  top: 21px;
  left: 128px;
}

.student-home-profile .img {
  position: absolute;
  width: 1866px;
  height: 262px;
  top: 65px;
  left: 364px;
  object-fit: cover;
}

.student-home-profile .overlap-7 {
  position: absolute;
  width: 476px;
  height: 58px;
  top: 333px;
  left: 364px;
}

.student-home-profile .student-btn {
  position: absolute;
  width: 239px;
  height: 58px;
  top: 0;
  left: 0;
}

.student-home-profile .overlap-8 {
  position: relative;
  width: 237px;
  height: 58px;
  background-color: #171b5a;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid;
  border-color: #000000;
}

.student-home-profile .text-wrapper-12 {
  position: absolute;
  width: 192px;
  top: 16px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #fafafa;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.student-home-profile .student-btn-2 {
  position: absolute;
  width: 239px;
  height: 58px;
  top: 0;
  left: 237px;
}

.student-home-profile .overlap-9 {
  position: relative;
  width: 237px;
  height: 58px;
  background-color: #f0f0f2;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid;
  border-color: #000000;
}

.student-home-profile .text-wrapper-13 {
  position: absolute;
  width: 192px;
  top: 16px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #020202;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
